[Unit]
Description= led Service
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/home/pi/led/rpi_ws281x/python_web/
ExecStart=/usr/bin/python main.py

[Install]
WantedBy=multi-user.target
Alias=led.service
